################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRUD.Weather.Models/bin/Debug/netcoreapp2.2
/PRUD.Weather.Models/obj
/PRUD.Weather.Data/obj
/PRUD.Weather.Data/bin/Debug/netcoreapp2.2
/PRUD.Weather.API.Tests/obj
/PRUD.Weather.API/bin/Debug/netcoreapp2.2
/PRUD.Weather.API/obj
/.vs/PRUD.Weather.API
/PRUD.Weather.API/outputfolder
/PRUD.Weather.API.Tests/bin/Debug/netcoreapp2.2
